<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ml.nkqnkq.mapper.BlogMapper">
    <select id="queryUserList" resultType="User">
        select * from m_user
    </select>
    <select id="selectPage" resultType="List">
        select * from m_user
    </select>
    <select id="getById" resultType="Blog">
        select * from m_blog where id=#{id}
    </select>
    <select id="getByUsername" resultType="User" parameterType="String">
        select * from m_user where username=#{username}
    </select>
    <delete id="delUser" parameterType="int">
        delete from m_user where id=#{id}
    </delete>
</mapper>